body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* 添加基础字体大小 */
    padding: 8px 16px; /* 添加内边距，让每个选项看起来更大一些 */
    transition: all 0.3s ease; /* 添加过渡动画，使变化更平滑 */
}

.nav-item:hover {
    color: #000; /* 更改鼠标悬停时的文字颜色 */
    background-color: rgba(255, 255, 255, 0.5); /* 调整背景色透明度以增强对比 */
    font-size: 16px; /* 鼠标悬停时增大字体大小 */
    padding: 12px 24px; /* 增加悬停时的内边距 */
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 设置最小高度为视口高度 */
    margin: 0 auto;
    padding: 2rem;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* 作品的卡片显示 */
.blog-post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-post-card {
    display: flex;
    flex-direction: column;
    background-color: --shell-color; /* 使用主题颜色 */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-image {
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all 0.5s ease; /* 过渡时间为0.5秒，缓动效果为ease */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image:hover {
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 15px;
}

.post-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-excerpt {
    color: #707070;
    line-height: 1.5;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    color: #999;
}

.post-date,
.post-author {
    font-size: 14px;
}

/* 卡片选中效果 */
.blog-post-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /* 添加一个轻微的上浮效果 */
}

.blog-post-card:hover .post-title,
.blog-post-card:hover .post-date,
.blog-post-card:hover .post-author {
    color: var(--primary-color); /* 使用主题颜色 */
}

/* 改变图片或背景颜色，添加如下样式 */
.blog-post-card:hover .card-image img {
    opacity: 0.9;
}

/* 创作页面 */
.create-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.toolbar-container {
    width: 100%;
    margin-bottom: 15px;
}

.toolbar-feature-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.toolbar-row {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.toolbar-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    flex: 1;
    min-width: 0;
    max-width: 100%;
    text-align: center;
}

.toolbar-button:hover {
    background-color: #83b3e6;
}

.title-input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-input input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-clear-image-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: #048a16;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 200px;
    margin-top: 15px;
    width: calc(30% - 15px);
    margin-left: 15px;
}

.submit-button:hover {
    background-color: #4400ff;
}

.toolbar-image-upload {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-image-preview {
    max-width: 150px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 创作页面 - 主体内容区 */
.editor-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.markdown-editor {
    resize: vertical;
    width: calc(50% - 15px);
    height: 100vh;
    box-sizing: border-box;
    font-family: monospace;
}

.preview-container {
    width: calc(50% - 15px);
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header-image-preview img {
    max-width: 100%; /* 修改为百分比以适应容器宽度 */
    height: auto; /* 保持原始宽高比 */
    max-height: 200px; /* 设置最大高度以防止过大 */
    overflow: hidden;
    border-radius: 4px;
    transition: transform .2s ease-in-out; /* 添加过渡效果 */
}

.header-image-preview img:hover {
    transform: scale(1.1); /* 放大图片（比例为110%） */
    cursor: pointer; /* 更改光标为手型，表明可点击 */
}


/* 针对较小屏幕或窗口，可以使用媒体查询来控制按钮组的最小宽度 */
@media (max-width: 768px) { 
    .submit-clear-image-group {
        min-width: calc(100% - 30px); /* 假设预留30px左右的边距 */
    }
    
    .toolbar-button, 
    .submit-button,
    .toolbar-image-upload {
        flex-grow: 1; /* 让按钮均分可用空间 */
        margin-left: 0;
        margin-right: 15px; /* 设置适当的间距 */
    }

    .toolbar-image-upload {
        margin-right: 0; /* 图片上传按钮不需要右边距 */
    }

    .submit-clear-image-group :last-child { /* 如果需要的话，取消最后一个按钮的右间距 */
        margin-right: 0;
    }
}