<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icu.pymiliblog.pymillsblog.mapper.UserMapper">
    <select id="findUser" resultType="icu.pymiliblog.pymillsblog.pojo.user.UserPojo">
        select
            id, name, password_hash AS passwordHash, registration, email, salt
         from users
        <where>
            <if test="id != null and id != 0">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="passwordHash != null and passwordHash != ''">
                and passwordHash = #{passwordHash}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="salt != null and salt != ''">
                and salt = #{salt}
            </if>
        </where>
    </select>

    <insert id="addUser" useGeneratedKeys="true">
        insert into users(name, password_hash, email, salt)
        values (
            #{name}, #{passwordHash}, #{email}, #{salt}
        )
    </insert>

</mapper>