main {
    display: flex;
    flex: 1;
}

/*
* 侧边框(主)
*/
.shell {
    display: flex;
}

/*
* 侧边框按钮
*/
.buttons {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* 使 .buttons 铺满整个屏幕高度 */
    width: 10%; /* 侧边栏宽度 */
    background-color: rgba(138, 152, 201, 0.1);
    color: #fff; /* 设置字体颜色为白色 */
    z-index: 2; /* 保证 .buttons 显示在顶层 */
}


.li {
    letter-spacing: 2px;
    font: 600 17px '';
    padding: 16px 52px;
    transition: .3s;
}

.li::after {
    content: '';
    position: absolute;
    left: 20px;
    margin-top: -22px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.buttons>li:hover {
    background-color: #beb5df;
}

.li ul {
    width: 0;
    height: auto;
    padding: 60px 0;
    position: fixed;
    top: 0;
    right: none;
    overflow: hidden;
    background-color: #000;
    transition: .3s;
}

.li ul li {
    font: 800 10px '';
    padding: 20px 40px;
    transition: .3s;
}

.li:hover ul {
    width: auto;
    height: 100%;
}

.li ul li:hover {
    background-color: #828eb9;
}

/*
* 内容显示窗口
*/
.content {
    margin-left: 10%; /* 让 .content 在 .buttons 的右侧 */
    flex: 1; /* 让 .content 占据剩余空间 */
    padding: 20px;
}

.content h1 {
    color: #fff;
}

.content p {
    color: #fff;
}

/*
* 内容显示窗口下的主页内容
*/
.text {
    /* background-color: rgba(255, 255, 255, 0.5); /* 使用rgba来定义白色带透明度的颜色 */
    /* border-radius: 10px; /* 圆角效果 */
    margin: 20px;
    text-align: center; /* 文本水平居中 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 文本垂直居中 */
    align-items: center; /* 文本水平居中 */
    height: 45%;
}

.text h1 {
    text-align: center;
    color: #fff;
    font: 800 30px '';
}

.text p {
    text-align: center;
}

/* 作者留言 */
.text author {
    text-align: right; /* 设置文本右对齐 */
    position: absolute;
    right: 1; /* 位于右侧 */
}

/* 添加媒体查询以适配手机屏幕 */
@media (max-width: 768px) {
    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 10px;
    }

    .buttons {
        width: 15%; /* 屏幕宽度 */
        background-color: rgba(138, 152, 201, 0.1); /* 更改背景颜色和透明度 */
    }

    .li {
        padding: 10px; /* 调整按钮内边距 */
        font-size: 14px; /* 调整字体大小 */
    }

    .li::after {
        display: none; /* 移除图标 */
    }

    .li ul {
        width: 0; /* 屏幕宽度 */
        background-color: #000; /* 更改背景颜色 */
    }

    .li:hover ul {
        width: auto;
        height: 100%;
    }

    .li ul li {
        padding: 10px; /* 调整子菜单内边距 */
        font-size: 14px; /* 调整子菜单字体大小 */
    }
}