<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/firefly/css/firefly.css">
  <title>梦幻向导 - 流萤</title>
</head>
<body>
  <div id="video-background">
    <video autoplay muted loop poster="/static/firefly/images/poster-image.png" id="bg-video">
      <source src="/static/firefly/video/background-video.mp4" type="video/mp4">
      您的浏览器不支持视频标签。
    </video>
  </div>

  <div id="video-mask"></div>

  <!-- 其他内容区域 -->
  <section id="content">

    <div class="character-intro">
        <h1>这里是PYmili为《崩坏：星穹铁道》角色流萤精心打造的专题展示。</h1>

        <h2>梦幻向导 - 流萤</h2>

        <div class="box">
            <!-- 卡片整体盒子 --color是图文对应主题的颜色变量，文字颜色过渡动画使用 -->
            <div class="card" style="--color: #0d9545;">
                <img src="/static/firefly/images/firefly_0.jpg" alt="firefly_0">
        
                <div class="text-box">
                <h2>介绍</h2>
                <p>
                    在《崩坏：星穹铁道》中，流萤身患失熵症。在匹诺康尼找到自由之路，她通过梦境，追求内心对自由和自我实现的渴望。
                </p>
                </div>
            </div>
        
            <div class="card" style="--color: #45b9dd;">
                <img src="/static/firefly/images/firefly_1.jpg" alt="firefly_1">
        
                <div class="text-box">
                <h2>相识</h2>
                <p>
                    在匹诺康尼，她与开拓者们相识，并建立了深厚的情谊。一切都是那么美好，甜蜜。
                </p>
                </div>
            </div>

            <div class="card" style="--color: #3437e9;">
                <img src="/static/firefly/images/firefly_2.jpg" alt="firefly_2">
        
                <div class="text-box">
                <h2>秘密</h2>
                <p>
                    尽管内心深藏秘密，流萤真诚无私的情感如同阳光般照耀在开拓者身旁。
                </p>
                </div>
            </div>
        </div>

    </div>

  </section>

  <script src="/static/firefly/js/firefly.js"></script>
</body>
</html>