<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery/css/main.css') }}">
    <title>Gallery</title>
</head>
<body>
    <header>
        <div id="userArea">
            <img src="user_avatar.jpg" alt="User Avatar">
            <a href="#">登录</a>
        </div>
    </header>

    <div id="imageArea">
        <!-- <div class="image-wrapper">
            <img src="image1.jpg" alt="Image 1">
            <div class="image-info">
                <p>Image 1 details</p>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="image2.jpg" alt="Image 2">
            <div class="image-info">
                <p>Image 2 details</p>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="image3.jpg" alt="Image 3">
            <div class="image-info">
                <p>Image 3 details</p>
            </div>
        </div> -->
        <!-- 添加更多图片... -->
    </div>    

    <div id="pagination">
        <!-- 分页按钮 -->
        <button class="page-button" onclick="changePage(0)">上一页</button>
        <div id="pageNumbers"></div>
        <button class="page-button" onclick="changePage(1)">下一页</button>
    </div>

    <script src="{{ url_for('static', filename='gallery/js/main.js') }}"></script>
</body>
</html>
